{{template "_header" .}}
  
{{template "_whoami" .}}
		<div class="box sidebar"></div>
		<div class="box content">

You have, {{ .user.Fans }} fans.
<br/>
<br/>
You should <a href="/videos/new">post a video</a>.

		</div>

{{template "_footer" .}}
