{{template "_header" .}}
  
{{template "_whoami" .}}
		<div class="box sidebar"></div>
		<div class="box content">

You have, 0 fans.
<br/>
<br/>
You should <a href="/video">post a video</a>.

		</div>

{{template "_footer" .}}
