{{template "_header" .}}
  
{{template "_whoami" .}}
		<div class="box sidebar"></div>
		<div class="box content">
			<br /> What is JJAA.me?

<br/>
<br/>
JJAA.me is a video sharing site with some differences from the others.
<br/>
<br/>

</div>


{{template "_footer" .}}
