
{{template "_header" .}}
  
{{template "_whoami" .}}
		<div class="box sidebar">

<a href="/">home</a>
<br/>
<br/>
<a href="/videos">my videos</a>


</div>
		<div class="box content">
<table width="100%">
{{range $i, $item := .videos}}
<tr>
  <td>{{add $i 1}}</td>
  <td>{{$item.Title}}</td>
  <td>{{$item.CreatedAt}}</td>
</tr>
{{end}}
</table>

		</div>

{{template "_footer" .}}
