
{{template "_header" .}}
<form method="post" action="/videos">
<input style="width: 500px; font-size: 24px;" type="text" autofocus="true" name="title" placeholder="what is the title of your video?"/>
<br/>
<input type="submit" value="ok go"/>
</form>
{{template "_footer" .}}
