
{{template "_header" .}}
  
{{template "_whoami" .}}
		<div class="box sidebar">

<a href="/">home</a>
<br/>
<br/>
<a href="/videos">my videos</a>


</div>
		<div class="box content">
<br/>
<br/>
You can <a href="/videos/new">post a new video</a>.
<br/>
<br/>
<table width="100%">
{{range $i, $item := .videos}}
<tr>
  <td>{{add $i 1}}</td>
  <td><a href="/videos/view/{{$item.UrlSafeName}}">{{$item.Title}}</a></td>
  <td>{{$item.Status}}</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>{{$item.CreatedAt}}</td>
</tr>
<tr>
<td colspan="10"><a href="/videos/view/{{$item.UrlSafeName}}"><img width="100" src="/assets/videos/{{$item.UrlSafeName}}.jpg"/></a></td>
</tr>
{{end}}
</table>

		</div>

{{template "_footer" .}}
