
{{template "_header" .}}
<table width="100%">
{{range $i, $item := .videos}}
<tr>
  <td>{{add $i 1}}</td>
  <td>{{$item.Title}}</td>
  <td>{{$item.CreatedAt}}</td>
</tr>
{{end}}
</table>
{{template "_footer" .}}
