
{{template "_header" .}}
  
{{template "_whoami" .}}
<div class="box sidebar">
    <a href="/">home</a>
    <br/>
    <br/>
    <a href="/videos">my videos</a>
</div>
<div class="box content">
  {{.video.Title}}
<br/>

    <video id="my-video" class="video-js" controls preload="auto" width="640"
      height="264" poster="/assets/videos/{{.video.UrlSafeName}}.jpg" data-setup="{}">
    <source src="/assets/videos/{{.video.UrlSafeName}}.webm" type="video/webm" />
    <source src="/assets/videos/{{.video.UrlSafeName}}.mp4" type="video/mp4" />
    <source src="/assets/videos/{{.video.UrlSafeName}}.oga" type="video/oga" />
    <source src="/assets/videos/{{.video.UrlSafeName}}.m4a" type="video/m4a" />
    <p class="vjs-no-js">Need modern browser</p>
  </video>
<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>


</div>

{{template "_footer" .}}
