{{template "_header" .}}
<div class="box sidebar">
</div>
<div class="box content">
  Select file for: {{$.video.Title}}
<br/>
<br/>
<form autocomplete="off" enctype="multipart/form-data">
<br/>
<input type="file" name="file" id="f1" accept="video/*" onchange="uploadPhotos('/videos/file/{{.video.UrlSafeName}}')"/>
<span id="p">---</span>
<br/>
</form>

<script type="text/javascript">
window.uploadPhotos = function(url){
  var formData = new FormData();

  var fileInputElement = document.getElementById("f1");
  formData.append("file", fileInputElement.files[0]);

  var xhr = new XMLHttpRequest();
  xhr.open("POST", url);
  xhr.upload.onprogress = function (e) {
    if (e.lengthComputable) {
      document.getElementById("p").innerHTML = ""+((e.loaded/e.total)*100);
    }
  }
  xhr.upload.onloadstart = function (e) {
    document.getElementById("p").innerHTML = "0";
  }
  xhr.upload.onloadend = function (e) {
    document.getElementById("p").innerHTML = ""+e.loaded;
    document.location.href = '/';
  }
  xhr.send(formData);
}
</script>

</div>

