
{{template "_header" .}}
  
{{template "_whoami" .}}
<div class="box sidebar">
    <a href="/">home</a>
    <br/>
    <br/>
    <a href="/videos">my videos</a>
</div>
<div class="box content">
  {{.video.Title}}
<br/>
<video class="afterglow" id="my-video" width="640" height="264"
poster="/assets/videos/{{.video.UrlSafeName}}.jpg">
    <source src="/assets/videos/{{.video.UrlSafeName}}.webm" type="video/webm" />
  <source src="/assets/videos/{{.video.UrlSafeName}}.mp4" />
 </video>

</div>

{{template "_footer" .}}
