
{{template "_header" .}}
<form autocomplete="off" method="POST" action="/videos/file" enctype="multipart/form-data">
<br/>
<input type="file" name="file"/>
<br/>
<input type="submit" value="ok upload"/>
</form>
{{template "_footer" .}}
